  <%= form_with(model: [@existing_book, @book_comment], local: false) do |f| %>
    <div class="form-group">
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control", id: "comment_textarea" %>
    </div>
    <div class="form-group">
      <%= f.submit "送信する", class: "btn btn-primary" %>
    </div>
  <% end %>